<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Basic Socket.io Chat</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
</head>

<body>
    <main role="main" class="chat-window">
        <ul id="messages"></ul>
        <form id="chat-input" action="">
            <input id="typed-message" type="text" name="typed-message" value="" autocomplete="off">
            <button type="submit" id="send">Send</button>
        </form>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/scripts.js"></script>
</body>

</html>