<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Basic Socket.io Chat</title>
    <link rel="stylesheet" href="/assets/styles.css" />
</head>

<body>
    <main role="main" class="chat-window">
        <ul class="messages"></ul>
        <form action="" class="active-panel">
            <input id="current-message" type="text" name="current-message" value="" autocomplete="off">
            <button type="button" id="send">Send</button>
        </form>
    </main>
</body>

</html>